body{
    font-family: sans-serif;
    margin: 0;
}

#logo{
    max-width: 100px;
}

h1{
  text-align: center;
  padding-top: 1rem;
}

h2{
  text-align: center;
  border-top: 4px #eee solid;
  padding-top: 1.5rem;
}


/* See how to create simple header with a few lines of flex code. */
header{
  background: #eee;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
}

header ul{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

header ul li{
    list-style: none;
    padding: 0 1rem;
}


/* top section with numbered boxes. play with different 
flexbox properties here & see what happens! :D */
.flex-container {
    padding: 0;
    max-width: 1076px;
    margin: 3rem auto;
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }

  /* Item Order Options - simple & more complex. Default order value is 0. */

  /*.flex4{
    order: -1;
  }*/


  /*.flex-item:nth-of-type(1) { order: 3; }
  .flex-item:nth-of-type(2) { order: 4; }
  .flex-item:nth-of-type(3) { order: 1; }
  .flex-item:nth-of-type(4) { order: 5; }
  .flex-item:nth-of-type(5) { order: 2; }*/


  /* flex item styles (non-layout) */
  .flex-item {
    background: tomato;
    padding: 5px;
    width: 350px;
    margin: 5px;
    line-height: 100px;
    color: white;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
  }


  /* flex-grow */
  .flex1, .flex2, .flex3, .flex4{
    flex-grow: 1;
  }

  .flex2-5{
    flex-grow: 2;
    width: 100%;
  }

  /* Example that shows with content */


  /* Important for images to scale */
  img{
    width: 100%;
    height: auto;
  }

  .flex-container2{
    padding: 3rem;
    margin: 0;
    background: #eee;
    list-style: none;
    min-height: 50vh;

    display: flex;
    flex-flow: row wrap;
    justify-content:space-evenly;
    gap: 2rem;
    align-items:center;

  }

  .flex-container2 li{
    flex: 0 1 30%;
  }

  a{
    background: tomato;
    color: white;
    padding: 0.5rem 0.75rem;
    text-decoration: none;
    display: inline-block;
  }

  a:hover{
    background: black;
  }

/* Media Querie for Mobile sizes -- 768px and under */
 @media screen and (max-width: 768px){
    .flex-container2 li{
        flex: 0 1 100%;
      }
  }
